.SearchBar {
    margin-top: 40px;
    display: flex;
    margin-left: 684px;
    height: 34px;
}

.SearchBar input[type='text'] {
    width: 255px;
}

.SearchBar #btn {
    width: 100px;
    margin-left: 22px;
}

.SearchBar #prv {
    width: 100px;
    margin-right: 25px;
}

.SearchBar #src {
    width: 100px;
    margin-left: 25px;
}

#ResumeData {
    margin: 0px 188px 0 397px;
}

#SideDetails {
    float: left;
    width: 23%;
    margin-left: 43px;
    margin-top: 17px;
    background-color: lightpink;
}

.heading {
    margin: 0;
    text-align: center;
    background-color: LIGHTGREEN;
}

#Searching-Names {
    margin-left: 675PX;
    font-size: 20px;

    margin-right: 368px;
    margin-top: 46px;
    border-radius: 16px;

}